.form-block{
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;

    @include tablet{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    &__content{
        box-sizing: border-box;
        width: 1100px;
        min-height: 628px;
        background: $tertiary-bg-color;
        border-radius: 10px;

        @include tablet{
            width: 708px;
            min-height: 611px;
        }

        @include mobile{
            width: 300px;
            min-height: 614px;
        }
    }
}
