.form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 60px;
    width: 100%;

    @include tablet {
        padding: 30px;
    }

    @include mobile{
        padding: 20px;
    }
    

    &__title{
        margin: 0 auto;
        max-width: 500px;
        min-height: 76px;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: $second-text-color;

        @include tablet {
            min-height: 31px;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
        }

        @include mobile{
            max-width: 260px;
            min-height: 62px;
        }
    }

    &__subtitle{
        margin: 20px auto 80px;
        max-width: 500px;
        min-height: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $third-text-color;

        @include tablet{
            margin: 24px auto 100px;
            min-height: 20px;
            font-size: 15px;
            line-height: 20px;
        }

        @include mobile{ 
            max-width: 260px;
            min-height: 40px;
            margin: 20px auto 80px;
        }
    }

    &__input-container{
        margin: 20px auto 0;
        width: 100%;
        display: flex;
        gap: 40px;

        @include tablet{
            flex-direction: column;
            gap: 20px;
        }
    }

    &__user-info{
        box-sizing: border-box;
        height: 54px;
        width: 100%;
        padding-left: 20px;
        background: $primary-bg-color;
        border-radius: 8px;
        border-style: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: rgba(17, 17, 17);

        &::placeholder{
            max-width: 430px;
            min-height: 24px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: rgba(17, 17, 17, 0.3);
        }
    }

    &__user-massage{
        box-sizing: border-box;
        background-color: $primary-bg-color;
        color: rgba(17, 17, 17);
        border-radius: 8px;
        border-style: none;
        width: 100%;
        height: 130px;
        padding: 1.3em;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        font-family: "Inter", Arial, Helvetica, sans-serif;

        &::placeholder{
            max-width: 430px;
            min-height: 24px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: rgba(17, 17, 17, 0.3);
        }

    }
    &__button{
        background: $secondary-bg-color;
        color: $primary-bg-color;
        margin-top: 30px;
        max-width: 194px;
        width: 100%;
        height: 54px;

        @include tablet{
            margin-top: 50px;
            max-width: 470px;
            width: 100%;
            height: 48px;
            align-self: center;
        }
        @include mobile{
            max-width: 260px;
            width: 100%;
            height: 44px;

        }
    }
    
}