@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__text/header__text.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__img/header__img.css);
@import url(../blocks/header/__button/header__button.css);

@import url(../blocks/button/button.css);


.sections{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two-blocks{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.block{
    width: 540px;
    height: 308px;
    background: #F8F8F8;
    border-radius: 20px;
    padding: 40px 0px 0px 40px;
}

.block__title{
    color: rgba(17, 17, 17, 0.6);
    min-width: 18px;
    min-height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.block__main-title{
    width: 460px;
    min-height: 76px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #111111;
    margin-top: 20px;
}

.block__text{
    width: 460px;
    min-height: 72px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(17, 17, 17, 0.6);
    margin-top: 40px;
}












