.header__title{
    width: 650px;
    min-height: 138px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 69px;
    color: #FFFFFF;
    margin: 60px 0px 0px 0px;
}
