@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
.page {
  background-color: #FFFFFF;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 10px 10px;
  max-width: 1440px;
}

.header {
  box-sizing: border-box;
  max-width: 1420px;
  min-height: 640px;
  background-color: #222222;
  border-radius: 20px;
  margin: 0 auto;
  padding: 30px 613px 30px 160px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 748px;
    min-height: 602px;
    padding: 30px 338px 30px 50px;
  }
}
@media screen and (max-width: 520px) {
  .header {
    max-width: 300px;
    min-height: 898px;
    padding: 20px;
  }
}
.header__logo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='33' viewBox='0 0 31 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4525 1.87049C19.4283 1.94815 19.4064 2.01801 19.3943 2.04918C18.775 3.64307 18.1783 5.28902 17.7784 6.93369C17.2321 9.18035 17.1575 11.499 17.1045 13.8353C17.6433 14.3212 18.1544 14.7501 18.5934 15.0664C18.9396 15.3158 19.2222 15.4813 19.4279 15.5558C19.5309 15.593 19.5918 15.5989 19.6202 15.5966C19.974 15.0888 19.9957 14.4163 19.9972 13.6205C19.9972 13.5876 19.9972 13.5544 19.9972 13.521C19.9977 12.7859 19.9982 11.9489 20.4062 11.269C20.4188 11.2479 20.4282 11.2302 20.4405 11.2069C20.4499 11.1889 20.4611 11.1677 20.4769 11.1391C20.5054 11.0876 20.5472 11.016 20.6038 10.9535C20.661 10.8901 20.755 10.8121 20.891 10.7921C21.0308 10.7716 21.1553 10.821 21.254 10.8903C21.5398 11.091 21.7638 11.3672 21.9497 11.6395C22.0653 11.8089 22.1783 11.9964 22.2815 12.1677C22.3388 12.2628 22.3931 12.3529 22.4432 12.4322C22.557 12.6122 22.6727 12.793 22.789 12.9748C23.196 13.6108 23.6105 14.2585 23.9766 14.9278C24.2437 15.4161 24.4526 15.9246 24.6512 16.42C24.6695 16.4656 24.6876 16.511 24.7058 16.5563C24.8864 17.0081 25.0618 17.4466 25.2731 17.8692C25.2727 17.8685 25.2735 17.8697 25.2758 17.8735C25.2802 17.8808 25.2903 17.8973 25.3087 17.9264C25.3148 17.9361 25.3214 17.9466 25.3284 17.9576C25.3475 17.9879 25.3693 18.0225 25.3899 18.0557C25.4174 18.1003 25.4476 18.1502 25.4698 18.1922C25.4798 18.2113 25.4945 18.2402 25.5054 18.2709C25.5099 18.2835 25.5213 18.3167 25.5244 18.3586L25.5244 18.3588C25.5257 18.3765 25.5384 18.5459 25.3772 18.638C25.1087 18.7915 24.8347 19.0987 24.5453 19.4724C24.4697 19.57 24.3925 19.6731 24.3146 19.7771C24.1126 20.0467 23.9061 20.3223 23.7117 20.5246C23.1139 21.1467 22.5097 21.7575 21.8915 22.3496C22.4546 22.5413 23.015 22.749 23.5724 22.974C25.7654 23.8591 28.3142 24.9574 30.1758 26.5622C30.4138 26.7674 30.545 26.9745 30.6774 27.2062C30.9367 27.6601 31.0132 28.0805 30.8139 28.4221C30.6261 28.744 30.2543 28.8816 29.9167 28.9434C29.2239 29.0701 28.3149 28.9414 27.8689 28.8404C26.8585 28.6116 25.8527 28.2978 24.8588 27.9876C24.3916 27.8418 23.927 27.6968 23.4657 27.5619C22.0097 27.1359 20.5603 26.8004 19.0596 26.8004C18.9357 26.8004 18.8295 26.8546 18.7265 26.9813C18.6176 27.1153 18.5261 27.3163 18.455 27.5628C18.3133 28.0537 18.2774 28.6351 18.2774 28.9581C18.2774 29.0618 18.2793 29.1668 18.2812 29.2726C18.2947 30.0119 18.309 30.793 17.6768 31.4738C17.5584 31.6013 17.4281 31.7049 17.3211 31.7901C17.2987 31.8079 17.2772 31.825 17.2572 31.8412C17.134 31.9411 17.0457 32.0233 16.9805 32.1276C16.9679 32.1478 16.9322 32.2007 16.8624 32.2361C16.7717 32.2822 16.6684 32.2764 16.5863 32.2306C16.523 32.1952 16.4903 32.1463 16.4785 32.1274C16.4638 32.1039 16.4549 32.0827 16.4501 32.07C16.4333 32.0262 16.4252 31.9774 16.4208 31.9488C16.41 31.8788 16.4006 31.7796 16.3921 31.6673C16.3749 31.4392 16.3593 31.1246 16.3462 30.8033C16.3199 30.1618 16.3027 29.4746 16.3027 29.365C16.3027 28.4645 16.3057 27.5637 16.3112 26.6627C16.0684 26.8028 15.822 26.9388 15.5716 27.0705C13.7666 28.0205 11.9661 28.6716 9.99187 29.1181C9.47933 29.234 9.09516 29.1549 8.74748 28.9385C8.50555 28.7878 8.27628 28.5634 8.03982 28.332C7.97061 28.2643 7.90078 28.196 7.82983 28.1287C5.88321 26.2829 3.98767 24.365 2.14826 22.4148C2.0143 22.2728 1.87625 22.1095 1.73872 21.9469L1.73373 21.941C1.59257 21.7741 1.45023 21.6059 1.30208 21.4462C1.00133 21.1221 0.703348 20.8635 0.398024 20.7414C0.383184 20.7354 0.359136 20.7252 0.334135 20.7099C0.321762 20.7023 0.300614 20.6883 0.278517 20.6668C0.259429 20.6483 0.21683 20.6024 0.197667 20.528C0.174003 20.4361 0.197056 20.3445 0.2485 20.2771C0.290069 20.2226 0.33947 20.1972 0.360871 20.1873C0.404888 20.1671 0.445213 20.1617 0.457465 20.16H0.457476C0.513267 20.1525 0.589175 20.1558 0.638404 20.1582C0.694685 20.161 0.748708 20.1645 0.79755 20.1677C0.86592 20.1721 0.924138 20.1759 0.964193 20.1759C1.5332 20.1759 2.10257 20.1753 2.67213 20.1747C3.81205 20.1734 4.95274 20.1721 6.09284 20.176C9.54983 20.1876 12.9953 20.3652 16.3771 20.9566C16.4108 18.8993 16.4542 16.8427 16.503 14.7888C16.508 14.5778 16.5127 14.3664 16.5174 14.1545C16.5179 14.1319 16.5184 14.1092 16.5189 14.0866C16.2723 13.8609 16.0227 13.6263 15.7741 13.3883C14.4782 12.1474 13.1632 10.7626 12.4561 10.018C12.2168 9.76598 12.0471 9.5873 11.9714 9.51236C11.8576 9.39975 11.8567 9.21623 11.9693 9.10245C12.0819 8.98867 12.2654 8.98772 12.3792 9.10033C12.4735 9.19367 12.6639 9.39417 12.9257 9.66993C13.6419 10.4242 14.8927 11.7417 16.175 12.9696C16.2959 13.0853 16.4167 13.1999 16.5368 13.3126C16.591 11.1426 16.6941 8.93955 17.2151 6.79673C17.6244 5.11338 18.2326 3.43828 18.854 1.83922L18.854 1.83917C18.8542 1.83861 18.8562 1.83309 18.8607 1.81938C18.8651 1.80608 18.8705 1.78902 18.8771 1.76802C18.8819 1.75269 18.8875 1.73482 18.8936 1.71526C18.9035 1.68375 18.9147 1.64785 18.9263 1.61106C18.9648 1.48941 19.0143 1.33721 19.0672 1.19552C19.1173 1.06142 19.18 0.910136 19.2489 0.806613C19.2673 0.778916 19.2913 0.746733 19.3213 0.716921C19.3489 0.689543 19.3987 0.646861 19.4712 0.62397C19.5568 0.59696 19.6553 0.604131 19.7415 0.657641C19.8147 0.70313 19.854 0.766689 19.8742 0.807119C19.9458 0.950301 19.8878 1.12441 19.7446 1.196C19.7248 1.2059 19.7044 1.21332 19.6838 1.21838C19.6622 1.26542 19.6373 1.32598 19.6102 1.39839C19.5627 1.52571 19.5168 1.66643 19.4791 1.7858C19.4701 1.81409 19.4612 1.84278 19.4525 1.87049ZM17.0874 14.5953C17.0858 14.6643 17.0842 14.7334 17.0826 14.8025C17.033 16.8874 16.9891 18.9745 16.9551 21.0619C18.406 21.3369 19.8446 21.691 21.2667 22.1439C21.9546 21.4937 22.6267 20.817 23.2937 20.1229C23.462 19.9477 23.6338 19.7183 23.8256 19.4623C23.9086 19.3516 23.9952 19.2359 24.087 19.1174C24.3128 18.8257 24.5698 18.5177 24.8551 18.2939C24.8499 18.2856 24.8447 18.2774 24.8396 18.2693C24.8323 18.2578 24.8251 18.2464 24.8181 18.2353L24.8165 18.2327C24.7969 18.2016 24.7692 18.1577 24.7546 18.1285C24.5319 17.683 24.3476 17.222 24.1684 16.7738C24.1499 16.7276 24.1315 16.6816 24.1131 16.6357C23.9144 16.1399 23.7166 15.6607 23.468 15.206C23.1124 14.556 22.7124 13.9307 22.3073 13.2976C22.1893 13.1133 22.071 12.9283 21.9531 12.7418C21.8888 12.64 21.8288 12.5402 21.7693 12.4413C21.6738 12.2825 21.5797 12.1258 21.4708 11.9663C21.3192 11.7442 21.1622 11.5537 20.9872 11.4144C20.9863 11.416 20.9853 11.4177 20.9844 11.4194C20.9757 11.4352 20.9676 11.4504 20.9585 11.4675C20.9551 11.4739 20.9515 11.4806 20.9477 11.4878C20.9349 11.5118 20.9196 11.5399 20.9033 11.5672C20.5795 12.1069 20.5783 12.7977 20.5769 13.5955L20.5769 13.6216C20.5755 14.3861 20.5709 15.2605 20.0836 15.9453C19.9795 16.0916 19.827 16.1609 19.6692 16.1742C19.5229 16.1865 19.3716 16.1519 19.2305 16.1008C18.9472 15.9983 18.6118 15.7941 18.2545 15.5367C17.8987 15.2804 17.5025 14.9573 17.0874 14.5953ZM20.7782 22.5984C19.5142 22.2094 18.2359 21.8981 16.9458 21.6503C16.9254 22.9761 16.9092 24.3019 16.8983 25.6273C18.2874 24.7384 19.5611 23.7124 20.7782 22.5984ZM16.8931 26.3153C16.8862 27.3322 16.8825 28.3489 16.8825 29.365C16.8825 29.4617 16.8992 30.1385 16.9254 30.7796C16.9335 30.9786 16.9425 31.1723 16.9521 31.3427C16.9587 31.3374 16.9652 31.3322 16.9716 31.3271C17.0765 31.2434 17.166 31.1719 17.252 31.0793C17.7155 30.5801 17.7092 30.0496 17.7003 29.2974C17.699 29.1891 17.6977 29.0762 17.6977 28.9581C17.6977 28.6094 17.735 27.967 17.898 27.4021C17.9792 27.1206 18.0979 26.8356 18.2767 26.6156C18.4614 26.3884 18.7207 26.2207 19.0596 26.2207C20.6439 26.2207 22.1565 26.5748 23.6285 27.0055C24.1115 27.1468 24.5875 27.2954 25.0602 27.443C26.0415 27.7493 27.0089 28.0513 27.9969 28.275C28.4169 28.3701 29.2349 28.4787 29.8124 28.3731C30.1098 28.3187 30.259 28.2229 30.3132 28.13C30.3558 28.0568 30.3953 27.8811 30.174 27.4939C30.0519 27.2802 29.9599 27.1415 29.7973 27.0013C28.018 25.4674 25.5557 24.3996 23.3555 23.5115C22.7123 23.252 22.0649 23.0157 21.4136 22.8009C20.0151 24.1017 18.5368 25.3003 16.8931 26.3153ZM16.3158 25.9878C16.3269 24.5066 16.3447 23.0249 16.3677 21.5436C13.0042 20.9477 9.56389 20.7673 6.09089 20.7557C4.95207 20.7518 3.81375 20.7531 2.67468 20.7544C2.26096 20.7548 1.84714 20.7553 1.43316 20.7555C1.53623 20.8516 1.63416 20.9518 1.72703 21.0519C1.88568 21.2229 2.03645 21.4012 2.17626 21.5665L2.17639 21.5667C2.31822 21.7344 2.44731 21.887 2.56999 22.017C4.40325 23.9607 6.29113 25.8708 8.2287 27.708C8.3216 27.7961 8.40484 27.8774 8.48142 27.9522C8.70418 28.1697 8.87052 28.3322 9.0539 28.4463C9.26539 28.578 9.49233 28.6367 9.86398 28.5527C11.791 28.1168 13.5435 27.4829 15.3016 26.5575C15.6469 26.3758 15.9846 26.1857 16.3158 25.9878Z' fill='black'/%3E%3C/svg%3E");
  background-position: 39% 47%;
  background-repeat: no-repeat;
}
.header__title {
  max-width: 650px;
  min-height: 138px;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 69px;
  color: #FFFFFF;
  margin: 60px 0px 0px 0px;
}
@media screen and (max-width: 768px) {
  .header__title {
    max-width: 360px;
    min-height: 74px;
    font-size: 33px;
    line-height: 37px;
    margin: 50px 0px 0px 0px;
  }
}
@media screen and (max-width: 520px) {
  .header__title {
    width: 260px;
    min-height: 58px;
    font-size: 24px;
    line-height: 29px;
  }
}
.header__text {
  max-width: 450px;
  min-height: 52px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
  margin: 28px 0px 0px 0px;
}
@media screen and (max-width: 768px) {
  .header__text {
    max-width: 360px;
    min-height: 40px;
    font-size: 15px;
    line-height: 20px;
    margin: 20px 0px 0px 0px;
  }
}
@media screen and (max-width: 520px) {
  .header__text {
    max-width: 260px;
    min-height: 30px;
    font-size: 12px;
    line-height: 15px;
    margin: 14px 0px 0px 0px;
  }
}
.header__img {
  max-width: 311px;
  height: 630px;
  position: absolute;
  right: 16%;
  bottom: -30px;
  filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
}
@media screen and (max-width: 768px) {
  .header__img {
    max-width: 250px;
    height: 502px;
    bottom: -20px;
    right: 6%;
  }
}
@media screen and (max-width: 520px) {
  .header__img {
    max-width: 260px;
    height: 522px;
    left: 20px;
    bottom: 114px;
  }
}
.header__button {
  margin: 108px 0px 0px 0px;
  max-width: 240px;
  min-width: 150px;
  width: 100%;
  height: 54px;
}
@media screen and (max-width: 768px) {
  .header__button {
    margin: 250px 0px 0px 0px;
    height: 48px;
  }
}
@media screen and (max-width: 520px) {
  .header__button {
    width: 260px;
    height: 44px;
    margin: 622px 0px 0px 0px;
    align-self: center;
  }
}

.sections {
  padding: 60px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
}
@media screen and (max-width: 768px) {
  .sections {
    max-width: 708px;
  }
}

.two-cards {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.two-cards__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .two-cards__content {
    gap: 10px;
  }
}
@media screen and (max-width: 520px) {
  .two-cards__content {
    flex-direction: column;
    width: 300px;
    height: 284px;
    overflow: hidden;
    gap: 0px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
}

.card {
  box-sizing: border-box;
  max-width: 540px;
  min-height: 308px;
  background: #F8F8F8;
  border-radius: 20px;
  padding: 40px 40px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .card {
    max-width: 349px;
    min-height: 284px;
    padding: 30px 30px;
  }
}
@media screen and (max-width: 520px) {
  .card {
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
}
.card__title {
  color: rgba(17, 17, 17, 0.6);
  min-width: 18px;
  min-height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0px;
}
@media screen and (max-width: 768px) {
  .card__title {
    font-size: 15px;
  }
}
.card__main-title {
  max-width: 460px;
  min-height: 76px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #111111;
  margin: 20px 0px 0px 0px;
}
@media screen and (max-width: 768px) {
  .card__main-title {
    font-size: 26px;
    line-height: 31px;
    margin: 12px 0px 0px 0px;
  }
}
.card__text {
  max-width: 460px;
  min-height: 72px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.6);
  margin: 40px 0px 0px 0px;
}
@media screen and (max-width: 768px) {
  .card__text {
    font-size: 15px;
    line-height: 20px;
    margin: 50px 0px 0px 0px;
  }
}

.demo-block {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .demo-block {
    padding-bottom: 70px;
    padding-top: 70px;
  }
}
@media screen and (max-width: 520px) {
  .demo-block {
    display: flex;
    flex-direction: column;
  }
}
.demo-block__content {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .demo-block__content {
    gap: 15px;
  }
}
@media screen and (max-width: 520px) {
  .demo-block__content {
    flex-direction: column;
    width: 260px;
    height: 522px;
    overflow: hidden;
    gap: 0px;
    box-sizing: border-box;
    flex-wrap: wrap;
    filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
  }
}
.demo-block__content-item {
  width: 350px;
  height: 709px;
  filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .demo-block__content-item {
    width: 226px;
    height: 461px;
  }
}
@media screen and (max-width: 520px) {
  .demo-block__content-item {
    width: 100%;
    height: 100%;
  }
  .demo-block__content-item:first-child {
    display: none;
  }
}

.block-title {
  color: #111111;
  max-width: 1103px;
  min-height: 204px;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  margin: 0 auto;
  padding-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .block-title {
    max-width: 648px;
    min-height: 111px;
    font-size: 33px;
    line-height: 37px;
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 520px) {
  .block-title {
    width: 260px;
    min-height: 186px;
    font-size: 26px;
    line-height: 31px;
  }
}

.form-block {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .form-block {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.form-block__content {
  box-sizing: border-box;
  max-width: 1100px;
  min-height: 628px;
  background: #F8F8F8;
  border-radius: 10px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .form-block__content {
    max-width: 708px;
    min-height: 611px;
  }
}
@media screen and (max-width: 520px) {
  .form-block__content {
    max-width: 300px;
    min-height: 614px;
  }
}

.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 60px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 30px;
  }
}
@media screen and (max-width: 520px) {
  .form {
    padding: 20px;
  }
}
.form__title {
  margin: 0 auto;
  max-width: 500px;
  min-height: 76px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #111111;
}
@media screen and (max-width: 768px) {
  .form__title {
    min-height: 31px;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
  }
}
@media screen and (max-width: 520px) {
  .form__title {
    max-width: 260px;
    min-height: 62px;
  }
}
.form__subtitle {
  margin: 20px auto 80px;
  max-width: 500px;
  min-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(17, 17, 17, 0.6);
}
@media screen and (max-width: 768px) {
  .form__subtitle {
    margin: 24px auto 100px;
    min-height: 20px;
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (max-width: 520px) {
  .form__subtitle {
    max-width: 260px;
    min-height: 40px;
    margin: 20px auto 80px;
  }
}
.form__input-container {
  margin: 20px auto 0;
  width: 100%;
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .form__input-container {
    flex-direction: column;
    gap: 20px;
  }
}
.form__user-info {
  box-sizing: border-box;
  height: 54px;
  width: 100%;
  padding-left: 20px;
  background: #FFFFFF;
  border-radius: 8px;
  border-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #111111;
}
.form__user-info::-moz-placeholder {
  max-width: 430px;
  min-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.3);
}
.form__user-info:-ms-input-placeholder {
  max-width: 430px;
  min-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.3);
}
.form__user-info::placeholder {
  max-width: 430px;
  min-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.3);
}
.form__user-massage {
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #111111;
  border-radius: 8px;
  border-style: none;
  width: 100%;
  height: 130px;
  padding: 1.3em;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 768px) {
  .form__user-massage {
    max-width: 100%;
  }
}
.form__user-massage::-moz-placeholder {
  max-width: 430px;
  min-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.3);
}
.form__user-massage:-ms-input-placeholder {
  max-width: 430px;
  min-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.3);
}
.form__user-massage::placeholder {
  max-width: 430px;
  min-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.3);
}
.form__button {
  background: #222222;
  color: #FFFFFF;
  margin-top: 30px;
  max-width: 194px;
  width: 100%;
  height: 54px;
}
@media screen and (max-width: 768px) {
  .form__button {
    margin-top: 50px;
    max-width: 470px;
    width: 100%;
    height: 48px;
    align-self: center;
  }
}
@media screen and (max-width: 520px) {
  .form__button {
    max-width: 260px;
    width: 100%;
    height: 44px;
  }
}

.footer {
  box-sizing: border-box;
  max-width: 1420px;
  min-height: 470px;
  background-color: #222222;
  border-radius: 20px;
  margin: 0 auto;
  padding: 60px 550px 0px 160px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 748px;
    min-height: 400px;
    padding: 50px 398px 0px 50px;
  }
}
@media screen and (max-width: 520px) {
  .footer {
    max-width: 300px;
    min-height: 266px;
    padding: 20px;
  }
}
.footer__title {
  max-width: 460px;
  min-height: 76px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .footer__title {
    max-width: 300px;
  }
}
@media screen and (max-width: 520px) {
  .footer__title {
    max-width: 260px;
    min-height: 58px;
    font-size: 24px;
    line-height: 29px;
  }
}
.footer__subtitle {
  max-width: 540px;
  min-height: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .footer__subtitle {
    max-width: 300px;
  }
}
@media screen and (max-width: 520px) {
  .footer__subtitle {
    max-width: 260px;
    min-height: 15px;
    font-size: 12px;
    line-height: 15px;
    padding-top: 14px;
  }
}
.footer__button {
  margin: 174px 0px 60px 0px;
  max-width: 470px;
  width: 100%;
  height: 54px;
}
@media screen and (max-width: 768px) {
  .footer__button {
    max-width: 240px;
    width: 100%;
    height: 48px;
    margin: 130px 0px 60px 0px;
  }
}
@media screen and (max-width: 520px) {
  .footer__button {
    max-width: 260px;
    width: 100%;
    height: 44px;
    margin: 95px 0px 0px 0px;
    align-self: center;
  }
}
.footer__img {
  width: 311px;
  height: 511px;
  filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
  right: 220px;
  bottom: 0px;
}
@media screen and (max-width: 768px) {
  .footer__img {
    width: 250px;
    height: 430px;
    right: 69px;
  }
}
@media screen and (max-width: 520px) {
  .footer__img {
    display: none;
  }
}

.image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.image_footer {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.image_header {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.button {
  border-radius: 8px;
  border: none;
}
.button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.navigation {
  visibility: hidden;
  position: absolute;
  padding-top: 20px;
}
@media screen and (max-width: 520px) {
  .navigation {
    visibility: visible;
    position: static;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  .navigation__bar {
    width: 10px;
    height: 10px;
    background: #D9D9D9;
    border-radius: 50%;
    margin: 4px;
    border: none;
    padding: 0;
  }
  .navigation__bar_active {
    background: #212121;
  }
  .navigation:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.navigation__input {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

#r1:checked ~ .slide {
  margin-left: 0;
}

#r2:checked ~ .slide {
  margin-left: -50%;
}

#r3:checked ~ .s3 {
  background: #212121;
}

#r4:checked ~ .s4 {
  background: #212121;
}

#r5:checked ~ .s5 {
  background: #212121;
}

#r6:checked ~ .s6 {
  background: #212121;
}/*# sourceMappingURL=styles.css.map */